# Kompilacja i pliki binarne
build/
bin/
obj/
*.elf
*.bin
*.map
*.hex

# Pliki tymczasowe CubeMX i CubeIDE
mx.scratch
*.launch
*.pbi
*.browse
*.pbd
*.tmp
/Debug/
/Release/

# Specyficzne dla konkretnego komputera (ustawienia lokalne)
.settings/
.project
.cproject
*.swp
*.bak

# Logi i śmieci systemowe
*.log
.DS_Store
Thumbs.db

# VS Code - odkomentuj poniższe, jeśli NIE CHCESZ dzielić się ustawieniami debuggera
# .vscode/